.Card__Container{
    margin: 15px;
}

.Card__con{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    width: 75%;
    margin: auto;
    box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 3px 16px rgba(0,0,0,0.23);
}

.Card__Heading{
    text-align: center;
    width: 100%;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Card__Content{
    padding: 15px;
}

.Img__Container{
    text-align: center;
}

img, iframe{
    height: auto;
    width: 100%;
}